In [100]:
# Import dependencies
import pandas as pd
import numpy as np

In [101]:
# Import csv into DataFrame
housing_data_df = pd.read_csv('austinHousingData.csv')

In [102]:
# Make a working copy of DataFrame
df = housing_data_df.copy()
df.head()

,zpid,city,streetAddress,zipcode,description,latitude,longitude,propertyTaxRate,garageSpaces,hasAssociation,hasCooling,hasGarage,hasHeating,hasSpa,hasView,homeType,parkingSpaces,yearBuilt,latestPrice,numPriceChanges,latest_saledate,latest_salemonth,latest_saleyear,latestPriceSource,numOfPhotos,numOfAccessibilityFeatures,numOfAppliances,numOfParkingFeatures,numOfPatioAndPorchFeatures,numOfSecurityFeatures,numOfWaterfrontFeatures,numOfWindowFeatures,numOfCommunityFeatures,lotSizeSqFt,livingAreaSqFt,numOfPrimarySchools,numOfElementarySchools,numOfMiddleSchools,numOfHighSchools,avgSchoolDistance,avgSchoolRating,avgSchoolSize,MedianStudentsPerTeacher,numOfBathrooms,numOfBedrooms,numOfStories,homeImage
0,111373431,pflugerville,14424 Lake Victor Dr,78660,"14424 Lake Victor Dr, Pflugerville, TX 78660 i...",30.43,-97.66,1.98,2,True,True,True,True,False,False,Single Family,2,2012,305000.00,5,2019-09-02,9,2019,"Coldwell Banker United, Realtors - South Austin",39,0,5,2,1,3,0,1,0,6011.00,2601.00,1,0,1,1,1.27,2.67,1063,14,3.00,4,2,111373431_ffce26843283d3365c11d81b8e6bdc6f-p_f...
1,120900430,pflugerville,1104 Strickling Dr,78660,Absolutely GORGEOUS 4 Bedroom home with 2 full...,30.43,-97.66,1.98,2,True,True,True,True,False,False,Single Family,2,2013,295000.00,1,2020-10-13,10,2020,Agent Provided,29,0,1,2,0,0,0,0,0,6185.00,1768.00,1,0,1,1,1.40,2.67,1063,14,2.00,4,1,120900430_8255c127be8dcf0a1a18b7563d987088-p_f...
2,2084491383,pflugerville,1408 Fort Dessau Rd,78660,Under construction - estimated completion in A...,30.41,-97.64,1.98,0,True,True,False,True,False,False,Single Family,0,2018,256125.00,1,2019-07-31,7,2019,Agent Provided,2,0,4,1,0,1,0,0,0,7840.00,1478.00,0,2,1,1,1.20,3.00,1108,14,2.00,3,1,2084491383_a2ad649e1a7a098111dcea084a11c855-p_...
3,120901374,pflugerville,1025 Strickling Dr,78660,Absolutely darling one story home in charming ...,30.43,-97.66,1.98,2,True,True,True,True,False,False,Single Family,2,2013,240000.00,4,2018-08-08,8,2018,Agent Provided,9,0,0,2,0,0,0,0,0,6098.00,1678.00,1,0,1,1,1.40,2.67,1063,14,2.00,3,1,120901374_b469367a619da85b1f5ceb69b675d88e-p_f...
4,60134862,pflugerville,15005 Donna Jane Loop,78660,Brimming with appeal & warm livability! Sleek ...,30.44,-97.66,1.98,0,True,True,False,True,False,False,Single Family,0,2002,239900.00,3,2018-10-31,10,2018,Agent Provided,27,0,0,1,0,0,0,0,0,6708.00,2132.00,1,0,1,1,1.13,4.00,1223,14,3.00,3,2,60134862_b1a48a3df3f111e005bb913873e98ce2-p_f.jpg

In [103]:
# Display all columns of the DataFrame 
pd.options.display.max_columns = None
display(df)

,zpid,city,streetAddress,zipcode,description,latitude,longitude,propertyTaxRate,garageSpaces,hasAssociation,hasCooling,hasGarage,hasHeating,hasSpa,hasView,homeType,parkingSpaces,yearBuilt,latestPrice,numPriceChanges,latest_saledate,latest_salemonth,latest_saleyear,latestPriceSource,numOfPhotos,numOfAccessibilityFeatures,numOfAppliances,numOfParkingFeatures,numOfPatioAndPorchFeatures,numOfSecurityFeatures,numOfWaterfrontFeatures,numOfWindowFeatures,numOfCommunityFeatures,lotSizeSqFt,livingAreaSqFt,numOfPrimarySchools,numOfElementarySchools,numOfMiddleSchools,numOfHighSchools,avgSchoolDistance,avgSchoolRating,avgSchoolSize,MedianStudentsPerTeacher,numOfBathrooms,numOfBedrooms,numOfStories,homeImage
0,111373431,pflugerville,14424 Lake Victor Dr,78660,"14424 Lake Victor Dr, Pflugerville, TX 78660 i...",30.43,-97.66,1.98,2,True,True,True,True,False,False,Single Family,2,2012,305000.00,5,2019-09-02,9,2019,"Coldwell Banker United, Realtors - South Austin",39,0,5,2,1,3,0,1,0,6011.00,2601.00,1,0,1,1,1.27,2.67,1063,14,3.00,4,2,111373431_ffce26843283d3365c11d81b8e6bdc6f-p_f...
1,120900430,pflugerville,1104 Strickling Dr,78660,Absolutely GORGEOUS 4 Bedroom home with 2 full...,30.43,-97.66,1.98,2,True,True,True,True,False,False,Single Family,2,2013,295000.00,1,2020-10-13,10,2020,Agent Provided,29,0,1,2,0,0,0,0,0,6185.00,1768.00,1,0,1,1,1.40,2.67,1063,14,2.00,4,1,120900430_8255c127be8dcf0a1a18b7563d987088-p_f...
2,2084491383,pflugerville,1408 Fort Dessau Rd,78660,Under construction - estimated completion in A...,30.41,-97.64,1.98,0,True,True,False,True,False,False,Single Family,0,2018,256125.00,1,2019-07-31,7,2019,Agent Provided,2,0,4,1,0,1,0,0,0,7840.00,1478.00,0,2,1,1,1.20,3.00,1108,14,2.00,3,1,2084491383_a2ad649e1a7a098111dcea084a11c855-p_...
3,120901374,pflugerville,1025 Strickling Dr,78660,Absolutely darling one story home in charming ...,30.43,-97.66,1.98,2,True,True,True,True,False,False,Single Family,2,2013,240000.00,4,2018-08-08,8,2018,Agent Provided,9,0,0,2,0,0,0,0,0,6098.00,1678.00,1,0,1,1,1.40,2.67,1063,14,2.00,3,1,120901374_b469367a619da85b1f5ceb69b675d88e-p_f...
4,60134862,pflugerville,15005 Donna Jane Loop,78660,Brimming with appeal & warm livability! Sleek ...,30.44,-97.66,1.98,0,True,True,False,True,False,False,Single Family,0,2002,239900.00,3,2018-10-31,10,2018,Agent Provided,27,0,0,1,0,0,0,0,0,6708.00,2132.00,1,0,1,1,1.13,4.00,1223,14,3.00,3,2,60134862_b1a48a3df3f111e005bb913873e98ce2-p_f.jpg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15166,29512934,austin,905 Silcantu Dr,78748,Not for rent!\n\nBeautiful one story home in T...,30.16,-97.82,1.98,6,False,True,True,True,False,True,Single Family,6,1986,330000.00,1,2020-12-10,12,2020,Agent Provided,49,0,3,2,4,0,0,0,0,6534.00,1234.00,1,0,1,1,0.90,3.33,1424,14,2.00,3,1,29512934_ff9b6eefa7e2eb4e9ef983da13a23098-p_f.jpg
15167,241937773,austin,1413 Waterloo Shore Ln UNIT 12,78741,This contemporary three-story detached condo h...,30.24,-97.77,1.98,2,True,True,True,True,True,True,Single Family,2,2016,550000.00,1,2020-12-16,12,2020,Agent Provided,32,1,5,2,2,1,0,0,0,2439.00,1888.00,1,0,1,1,1.90,6.67,1226,16,4.00,3,3,241937773_66d3e483bd783eac5a52ff5f938d2a2e-p_f...
15168,29473281,austin,2206 S 3rd St,78704,Original bungalow with a modern addition. Larg...,30.24,-97.76,1.98,2,False,True,True,True,False,False,Single Family,2,1936,875000.00,7,2021-01-27,1,2021,ABOR,20,0,3,3,0,0,0,0,0,9408.00,1524.00,1,0,1,1,0.80,5.00,889,13,3.00,3,2,29473281_9e90ec4652c4b3b6592a7fdd09f1ea6d-p_f.jpg
15169,29392029,austin,2000 Chestnut Ave,78722,So many options at this address in the eclecti...,30.28,-97.72,1.98,0,False,True,False,True,False,False,MultiFamily,0,1968,420000.00,5,2019-08-07,8,2019,Broker Provided,15,0,3,1,0,0,0,0,0,6098.00,6068.00,1,0,1,1,1.30,6.67,1057,15,2.00,4,1,29392029_a9a8306ea363d23f37d91d37975a1b96-p_f.jpg
15170,29390174,austin,3110 E 12th St,78702,"3110 E 12th St, Austin, TX 78702 is a single f...",30.28,-97.70,1.98,1,False,True,True,True,False,True,Single Family,1,1955,374900.00,3,2021-01-23,1,2021,Realty Austin,41,0,4,1,2,1,0,0,0,5227.00,720.00,1,0,1,1,1.90,6.67,1057,15,1.00,2,1,29390174_9580c60e14870498b2ce98b5f889471e-p_f.jpg

In [104]:
# Check data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15171 entries, 0 to 15170
Data columns (total 47 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   zpid                        15171 non-null  int64
 1   city                        15171 non-null  object
 2   streetAddress               15171 non-null  object
 3   zipcode                     15171 non-null  int64
 4   description                 15171 non-null  object
 5   latitude                    15171 non-null  float64
 6   longitude                   15171 non-null  float64
 7   propertyTaxRate             15171 non-null  float64
 8   garageSpaces                15171 non-null  int64
 9   hasAssociation              15171 non-null  bool
 10  hasCooling                  15171 non-null  bool
 11  hasGarage                   15171 non-null  bool
 12  hasHeating                  15171 non-null  bool
 13  hasSpa                      15171 non-null  bool
 14  hasView                     15171 non-null  bool
 15  homeType                    15171 non-null  object
 16  parkingSpaces               15171 non-null  int64
 17  yearBuilt                   15171 non-null  int64
 18  latestPrice                 15171 non-null  float64
 19  numPriceChanges             15171 non-null  int64
 20  latest_saledate             15171 non-null  object
 21  latest_salemonth            15171 non-null  int64
 22  latest_saleyear             15171 non-null  int64
 23  latestPriceSource           15171 non-null  object
 24  numOfPhotos                 15171 non-null  int64
 25  numOfAccessibilityFeatures  15171 non-null  int64
 26  numOfAppliances             15171 non-null  int64
 27  numOfParkingFeatures        15171 non-null  int64
 28  numOfPatioAndPorchFeatures  15171 non-null  int64
 29  numOfSecurityFeatures       15171 non-null  int64
 30  numOfWaterfrontFeatures     15171 non-null  int64
 31  numOfWindowFeatures         15171 non-null  int64
 32  numOfCommunityFeatures      15171 non-null  int64
 33  lotSizeSqFt                 15171 non-null  float64
 34  livingAreaSqFt              15171 non-null  float64
 35  numOfPrimarySchools         15171 non-null  int64
 36  numOfElementarySchools      15171 non-null  int64
 37  numOfMiddleSchools          15171 non-null  int64
 38  numOfHighSchools            15171 non-null  int64
 39  avgSchoolDistance           15171 non-null  float64
 40  avgSchoolRating             15171 non-null  float64
 41  avgSchoolSize               15171 non-null  int64
 42  MedianStudentsPerTeacher    15171 non-null  int64
 43  numOfBathrooms              15171 non-null  float64
 44  numOfBedrooms               15171 non-null  int64
 45  numOfStories                15171 non-null  int64
 46  homeImage                   15171 non-null  object
dtypes: bool(6), float64(9), int64(25), object(7)
memory usage: 4.8+ MB

In [105]:
# keep relevant columns
clean_df = df[['zpid','city','zipcode',
               'homeType','yearBuilt',
               'latestPrice','numPriceChanges', 
               'avgSchoolDistance']]

clean_df['Outcome'] = np.where(clean_df['zipcode']==78748, 1, 0)
clean_df

C:\Users\jlemu\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

,zpid,city,zipcode,homeType,yearBuilt,latestPrice,numPriceChanges,avgSchoolDistance,Outcome
0,111373431,pflugerville,78660,Single Family,2012,305000.00,5,1.27,0
1,120900430,pflugerville,78660,Single Family,2013,295000.00,1,1.40,0
2,2084491383,pflugerville,78660,Single Family,2018,256125.00,1,1.20,0
3,120901374,pflugerville,78660,Single Family,2013,240000.00,4,1.40,0
4,60134862,pflugerville,78660,Single Family,2002,239900.00,3,1.13,0
...,...,...,...,...,...,...,...,...,...
15166,29512934,austin,78748,Single Family,1986,330000.00,1,0.90,1
15167,241937773,austin,78741,Single Family,2016,550000.00,1,1.90,0
15168,29473281,austin,78704,Single Family,1936,875000.00,7,0.80,0
15169,29392029,austin,78722,MultiFamily,1968,420000.00,5,1.30,0
15170,29390174,austin,78702,Single Family,1955,374900.00,3,1.90,0

In [106]:
zip_code = [78748, 78745, 78749, 78704]


for code in zip_code:
    if code in clean_df['zipcode']:
        clean_df['Outcome'] = np.where(clean_df['zipcode']==code, 1, 0)
clean_df

,zpid,city,zipcode,homeType,yearBuilt,latestPrice,numPriceChanges,avgSchoolDistance,Outcome
0,111373431,pflugerville,78660,Single Family,2012,305000.00,5,1.27,0
1,120900430,pflugerville,78660,Single Family,2013,295000.00,1,1.40,0
2,2084491383,pflugerville,78660,Single Family,2018,256125.00,1,1.20,0
3,120901374,pflugerville,78660,Single Family,2013,240000.00,4,1.40,0
4,60134862,pflugerville,78660,Single Family,2002,239900.00,3,1.13,0
...,...,...,...,...,...,...,...,...,...
15166,29512934,austin,78748,Single Family,1986,330000.00,1,0.90,1
15167,241937773,austin,78741,Single Family,2016,550000.00,1,1.90,0
15168,29473281,austin,78704,Single Family,1936,875000.00,7,0.80,0
15169,29392029,austin,78722,MultiFamily,1968,420000.00,5,1.30,0
15170,29390174,austin,78702,Single Family,1955,374900.00,3,1.90,0

In [107]:
clean_df.loc[clean_df['Outcome']==1]

,zpid,city,zipcode,homeType,yearBuilt,latestPrice,numPriceChanges,avgSchoolDistance,Outcome
4648,79984482,austin,78748,Single Family,2008,210000.00,1,1.77,1
4649,64657976,austin,78748,Single Family,2003,319000.00,1,1.13,1
4650,29513495,austin,78748,Single Family,1989,525000.00,2,1.13,1
4652,80095966,austin,78748,Single Family,2009,380000.00,2,1.67,1
4654,58317493,austin,78748,Single Family,2000,424900.00,3,1.13,1
...,...,...,...,...,...,...,...,...,...
12506,29507452,austin,78748,Single Family,1969,352500.00,2,1.43,1
13967,29512295,austin,78748,Single Family,1980,595000.00,2,1.84,1
14822,64429742,austin,78748,Single Family,2004,290000.00,4,1.83,1
15165,29504086,austin,78748,Single Family,1983,280000.00,1,2.13,1
15166,29512934,austin,78748,Single Family,1986,330000.00,1,0.90,1

In [108]:
clean_df.zipcode.value_counts()

78748    1144
78745    1039
78749     774
78704     706
78737     617
78739     605
78732     597
78759     561
78723     558
78757     523
78717     516
78731     495
78744     472
78753     442
78727     417
78702     397
78758     395
78754     393
78747     381
78750     321
78729     318
78735     311
78703     302
78721     255
78730     244
78728     225
78741     224
78724     223
78733     214
78746     195
78726     178
78751     174
78736     163
78725     162
78752     153
78756     140
78722     100
78617      86
78705      68
78660      36
78619      12
78734       9
78701       8
78719       5
78652       4
78653       4
78742       4
78738       1
Name: zipcode, dtype: int64

In [109]:
# Drop any null values
clean_df.dropna()

,zpid,city,zipcode,homeType,yearBuilt,latestPrice,numPriceChanges,avgSchoolDistance,Outcome
0,111373431,pflugerville,78660,Single Family,2012,305000.00,5,1.27,0
1,120900430,pflugerville,78660,Single Family,2013,295000.00,1,1.40,0
2,2084491383,pflugerville,78660,Single Family,2018,256125.00,1,1.20,0
3,120901374,pflugerville,78660,Single Family,2013,240000.00,4,1.40,0
4,60134862,pflugerville,78660,Single Family,2002,239900.00,3,1.13,0
...,...,...,...,...,...,...,...,...,...
15166,29512934,austin,78748,Single Family,1986,330000.00,1,0.90,1
15167,241937773,austin,78741,Single Family,2016,550000.00,1,1.90,0
15168,29473281,austin,78704,Single Family,1936,875000.00,7,0.80,0
15169,29392029,austin,78722,MultiFamily,1968,420000.00,5,1.30,0
15170,29390174,austin,78702,Single Family,1955,374900.00,3,1.90,0

In [110]:
# Drop any duplicate values
clean_df.drop_duplicates()

,zpid,city,zipcode,homeType,yearBuilt,latestPrice,numPriceChanges,avgSchoolDistance,Outcome
0,111373431,pflugerville,78660,Single Family,2012,305000.00,5,1.27,0
1,120900430,pflugerville,78660,Single Family,2013,295000.00,1,1.40,0
2,2084491383,pflugerville,78660,Single Family,2018,256125.00,1,1.20,0
3,120901374,pflugerville,78660,Single Family,2013,240000.00,4,1.40,0
4,60134862,pflugerville,78660,Single Family,2002,239900.00,3,1.13,0
...,...,...,...,...,...,...,...,...,...
15166,29512934,austin,78748,Single Family,1986,330000.00,1,0.90,1
15167,241937773,austin,78741,Single Family,2016,550000.00,1,1.90,0
15168,29473281,austin,78704,Single Family,1936,875000.00,7,0.80,0
15169,29392029,austin,78722,MultiFamily,1968,420000.00,5,1.30,0
15170,29390174,austin,78702,Single Family,1955,374900.00,3,1.90,0

In [111]:
# Suppress Scientific Notation
pd.options.display.float_format = '{:.2f}'.format

# Group average home price by zipcode
avg_price = clean_df.groupby(['zipcode']).mean()['latestPrice']
avg_price

zipcode
78617    197035.84
78619    753149.17
78652    375339.75
78653    333695.00
78660    285534.06
78701    996475.00
78702    513293.73
78703   1192288.19
78704    839770.92
78705    657697.78
78717    432340.78
78719    316580.00
78721    363793.73
78722    483887.14
78723    434535.37
78724    278410.11
78725    225183.77
78726    509582.70
78727    380575.54
78728    300907.55
78729    338257.97
78730   1020245.83
78731    893545.94
78732    706824.68
78733   1061417.90
78734   1390916.67
78735    977815.31
78736    409210.58
78737    543377.29
78738    697000.00
78739    545078.60
78741    374497.21
78742    209975.00
78744    268640.15
78745    360551.22
78746   1422145.12
78747    294423.03
78748    323004.39
78749    395312.23
78750    581114.45
78751    569097.15
78752    358422.43
78753    281872.73
78754    256518.20
78756    691860.31
78757    520312.08
78758    337502.18
78759    517839.22
Name: latestPrice, dtype: float64

In [112]:
# Create new DataFrame with zipcodes and average home price
avg_df = pd.DataFrame({
    'Average Price' : avg_price
})

# Sort the new DataFrame
avg_df.sort_values(by='Average Price', ascending=True)

         Average Price
zipcode
78617        197035.84
78742        209975.00
78725        225183.77
78754        256518.20
78744        268640.15
78724        278410.11
78753        281872.73
78660        285534.06
78747        294423.03
78728        300907.55
78719        316580.00
78748        323004.39
78653        333695.00
78758        337502.18
78729        338257.97
78752        358422.43
78745        360551.22
78721        363793.73
78741        374497.21
78652        375339.75
78727        380575.54
78749        395312.23
78736        409210.58
78717        432340.78
78723        434535.37
78722        483887.14
78726        509582.70
78702        513293.73
78759        517839.22
78757        520312.08
78737        543377.29
78739        545078.60
78751        569097.15
78750        581114.45
78705        657697.78
78756        691860.31
78738        697000.00
78732        706824.68
78619        753149.17
78704        839770.92
78731        893545.94
78735        977815.31
78701        996475.00
78730       1020245.83
78733       1061417.90
78703       1192288.19
78734       1390916.67
78746       1422145.12

In [113]:
# View average price change by zipcode
avg_price_change = clean_df.groupby(['zipcode']).mean()['numPriceChanges']
avg_price_change

zipcode
78617   2.56
78619   1.92
78652   1.50
78653   2.75
78660   2.25
78701   4.38
78702   3.18
78703   3.97
78704   3.54
78705   3.12
78717   2.81
78719   3.20
78721   3.44
78722   2.83
78723   3.42
78724   2.88
78725   2.34
78726   2.95
78727   2.85
78728   2.64
78729   2.45
78730   3.50
78731   3.50
78732   3.68
78733   3.31
78734   4.78
78735   3.39
78736   3.26
78737   3.28
78738   3.00
78739   2.73
78741   2.64
78742   3.50
78744   2.25
78745   2.86
78746   3.55
78747   2.71
78748   2.92
78749   2.89
78750   3.28
78751   3.19
78752   3.24
78753   2.64
78754   2.54
78756   3.45
78757   3.05
78758   2.63
78759   3.02
Name: numPriceChanges, dtype: float64

In [114]:
# Create DataFrame with just Austin homes
austin_df = clean_df.loc[clean_df['city']=='austin']
austin_df

,zpid,city,zipcode,homeType,yearBuilt,latestPrice,numPriceChanges,avgSchoolDistance,Outcome
17,116080992,austin,78717,Single Family,2014,687850.00,13,3.27,0
18,88013985,austin,78717,Single Family,2007,409000.00,4,1.93,0
19,70344594,austin,78724,Single Family,2006,199000.00,3,2.43,0
20,185217484,austin,78717,Single Family,2008,400000.00,2,1.90,0
21,121719682,austin,78717,Residential,2015,699000.00,1,3.27,0
...,...,...,...,...,...,...,...,...,...
15166,29512934,austin,78748,Single Family,1986,330000.00,1,0.90,1
15167,241937773,austin,78741,Single Family,2016,550000.00,1,1.90,0
15168,29473281,austin,78704,Single Family,1936,875000.00,7,0.80,0
15169,29392029,austin,78722,MultiFamily,1968,420000.00,5,1.30,0
15170,29390174,austin,78702,Single Family,1955,374900.00,3,1.90,0

In [115]:
austin_df.zipcode.value_counts()

78748    1143
78745    1038
78749     774
78704     706
78737     612
78739     605
78732     597
78759     561
78723     558
78757     523
78717     516
78731     495
78744     472
78753     442
78727     417
78702     397
78758     395
78754     392
78747     381
78750     321
78729     318
78735     311
78703     302
78721     255
78730     244
78728     225
78741     224
78724     222
78733     214
78746     193
78726     178
78751     174
78736     163
78725     162
78752     153
78756     140
78722     100
78705      68
78734       9
78701       8
78719       5
78742       4
78738       1
78652       1
78653       1
Name: zipcode, dtype: int64

In [116]:
# Create DataFrame with surrounding areas
suburb_df = clean_df.loc[clean_df['city']!='austin']
suburb_df

,zpid,city,zipcode,homeType,yearBuilt,latestPrice,numPriceChanges,avgSchoolDistance,Outcome
0,111373431,pflugerville,78660,Single Family,2012,305000.00,5,1.27,0
1,120900430,pflugerville,78660,Single Family,2013,295000.00,1,1.40,0
2,2084491383,pflugerville,78660,Single Family,2018,256125.00,1,1.20,0
3,120901374,pflugerville,78660,Single Family,2013,240000.00,4,1.40,0
4,60134862,pflugerville,78660,Single Family,2002,239900.00,3,1.13,0
...,...,...,...,...,...,...,...,...,...
10974,29431946,manor,78653,Single Family,1980,119900.00,2,3.10,0
11006,64425322,manor,78754,Single Family,2003,235000.00,1,2.37,0
11014,2079811780,manor,78653,Single Family,2020,324990.00,1,2.13,0
13481,29482021,manor,78745,Single Family,1963,419000.00,2,1.37,0
13955,80093853,del valle,78617,Condo,2006,137500.00,6,1.27,0

In [117]:
# Import dependencies to export data to Postgres
from sqlalchemy import create_engine

In [118]:
# Import PostgreSQL password
from config import db_password

In [119]:
# Connection string
db_string = f"postgres://postgres:{db_password}@127.0.0.1:5432/Project_data"
engine = create_engine(db_string)

In [120]:
# Export data to new PostgreSQL table 
clean_df.to_sql(name='homes', con=engine)
avg_df.to_sql(name='average_price', con=engine)